<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="Replace with the connection string of your Azure Storage Account which was used to enable Diagnostics Logs"/>
    <add key="OutputCsvFilePath" value="Replace with the full path to the CSV file where the output will be stored" />
  </appSettings>
</configuration>